[Unit]
Description=Limit Usage Xray Service
Documentation=https://wa.me/6281931472448
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/xray/limit.vmess

[Install]
WantedBy=multi-user.target
